<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Upload a File</h3>
      </div>
      <hr/>
      <div>
        {% for entry in entries %}
          <li><h2>{{ entry.field }}</h2>{{ entry.field|safe }}
        {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
      </div>
    </div>
  </body>
</html>